<!--Dllmap映射,在Mac平台映射到dylib-->
<configuration>
  <dllmap dll="CocoStudioEngineAdapter" target="CocoStudioEngineAdapter.so.0" os="!osx,windows"/>
  <dllmap dll="CocoStudioEngineAdapter" target="CocoStudioEngineAdapter.dylib" os="osx"/>
  <dllmap dll="libglfw" target="@executable_path/libglfw.dylib" os="osx"/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
