<!--Dllmap映射,在Mac平台映射到dylib-->
<configuration>
  <dllmap dll="CocoStudioEngineAdapter" target="CocoStudioEngineAdapter.so.0" os="!osx,windows" />
  <dllmap dll="CocoStudioEngineAdapter" target="CocoStudioEngineAdapter.dylib" os="osx" />
  <dllmap dll="libglfw" target="@executable_path/libglfw.dylib" os="osx" />
</configuration>
