<!--Dllmap映射,在Mac平台映射到dylib-->
<configuration>
  <dllmap os="!windows,osx" dll="sigar-x86-winnt.dll" target="sigar-x86-winnt.dll"/>
  <dllmap os="osx" dll="sigar-x86-winnt.dll" target="libsigar-universal-macosx.dylib"/>
  <dllmap os="!windows,osx" dll="zlib1.dll" target="zlib1.dll"/>
  <dllmap os="osx" dll="zlib1.dll" target="libz.dylib"/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
